.CRIT {
    background-color: #FF3300;
    color: #fff;
}

.WARN {
    background-color: #FFDA9F;
    color: #000;
}

.OK {
    background-color: #00CC33;
    color: #fff;
}

.UNK {
    background-color: #E066FF;
    color: #fff;
}

.PEND {
    background-color: #acacac;
    color: #fff;    
}

h1, h2, h3 {
    font-family: sans-serif;
}

a.rttop {
/*    float: right;*/
}

ul {
    padding-left: 0;
}

li {
    margin-bottom: 1ex;
    padding: 1px;
}